.container {
  /* background-color: rgba(0, 0, 0, 0.4); */
  height: 500px;
  width: 800px;
  margin: 0;
  padding: 0;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  color: aliceblue;
}
h3 {
  margin: 0;
}

.subContainer {
  display: flex;
  justify-content: space-between;
}
.textContainer {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}