html {
  margin: 0;
  font-family: Helvetica, sans-serif;
}

h3 {
  font-family: 'Edu VIC WA NT Beginner', cursive;
}

.App {
  margin: 0;
  padding: 0;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 800px;
  border-radius: 15px;
  background-color: lightyellow;
}

.SlideShow {
  margin: 0 auto;
  overflow: hidden;
  max-width: 100%;
  height: 600px;
}
.Slider {
  width: 100%;
  white-space: nowrap;
  transition: ease 1000ms;
}

.Slide {
  display: inline-block;

  height: 400px;
  width: 100%;
  border-radius: 40px;
}

.image {
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
}
.one {
  background-image: url(images/coffeeBean.jpg);
  width: 100%;
}
.two {
  background-image: url(images/cafeOutside.jpg);
  width: 100%;
}
.three {
  background-image: url(images/steamCoffee.jpg);
  width: 100%;
}
.four {
  background-image: url(images/brew2.jpg);
  width: 100%;
}
.scroll {
  margin: 0;
  padding: 0;
    background-color: #ffe0f6;
    padding: 32px 70px;
    color: #666666;
    z-index: 1;
}
.arrow:hover {
  cursor: pointer;
}